db_path = "projects.db"
jwt_key = ""
api_base_path = "/api/v1"
listen_ip = "0.0.0.0"
listen_port = 3000
max_release_size = 300
max_image_size = 5
read_only = false
bucket_name = "obj.vassalengine.org"
bucket_region = "us-east-1"
bucket_endpoint = "https://us-east-1.linodeobjects.com"
bucket_access_key = ""
bucket_secret_key = ""
bucket_base_url = "https://obj.vassalengine.org"
bucket_base_dir = "test"
upload_dir = "uploads"
upload_timeout = 300
log_headers = false
